
<!-- begin screening options -->
 <div class="btn-group">
  <button class="btn btn-{% if wrapped.final_status_pending %}warning{% else %}default{% endif%} dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
    {{ wrapped.get_participation_status_display|default:"Screening Options" }}
  </button>
  <button type="button" class="btn btn-{% if wrapped.final_status_pending %}warning{% else %}default{% endif%} dropdown-toggle btn-sm dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span></button>

  <ul class="dropdown-menu" role="menu">

    <li class="dropdown-header">Enrollment Checklist</li>
    {% with may_add=current_household_log_entry %}

      <li class="dropdown-item {% if not may_add and not may_edit %}disabled{% endif %}">
        <a class="dropdown-item "
            href="{% if not may_add %}#{% else %}{{ wrapped.enrollment_checklist.href }}{% endif %}">
                {% if wrapped.enrollment_checklist %}
                    <i class="fa fa-pencil fa-fw"></i>
                {% else %}
                    <i class="fa fa-plus fa-fw"></i>
                {% endif %}
                {% if wrapped.enrollment_checklist %}
                    {{ wrapped.enrollment_checklist.report_datetime|date:"Y-m-d" }}
                {% else %}
                    Check eligibility
                {% endif %}
        </a>
      </li>

    {% if wrapped.is_consented %}

    <li class="dropdown-header">Subject Consent</li>

      <li class="dropdown-item {% if not may_add and not may_edit %}disabled{% endif %}">
        <a class="dropdown-item "
            href="{% if not may_add %}#{% else %}{{ wrapped.consent.href }}{% endif %}">
                    <i class="fa fa-pencil fa-fw"></i>
                   {{ wrapped.consent.consent_datetime|date:"Y-m-d" }} v{{ wrapped.consent.version }}
        </a>
      </li>

    {% else %}

	    <li class="dropdown-header">Status reports</li>
	    
	       <li class="dropdown-item {% if not may_add %}disabled{% endif %}">
	         <a class="dropdown-item"
	           href="{% if not may_add %}#{% else %}{{ wrapped.new_absent_member.href }}{% endif %}">
	             <i class="fa fa-plus fa-fw"></i>&nbsp;
	             Absent
	         </a>
	       </li>
	
	       <li class="dropdown-item {% if not may_add %}disabled{% endif %}">
	         <a class="dropdown-item"
	           href="{% if not may_add %}#{% else %}{{ wrapped.new_undecided_member.href }}{% endif %}">
	             <i class="fa fa-plus fa-fw"></i>&nbsp;
	             Undecided
	        </a>
	       </li>
	
	     <li class="dropdown-item {% if not may_add %}disabled{% endif %}">
	       <a class="dropdown-item "
	           href="{% if not may_add %}#{% else %}{{ wrapped.refused_member.href }}{% endif %}">
	           {% if wrapped.refused_member %}
	               <i class="fa fa-pencil fa-fw"></i>{% else %}<i class="fa fa-plus fa-fw"></i>
	           {% endif %}&nbsp;
	           Refused 
	           {% if wrapped.refused_member %}
	               <span class="text text-muted">{{ wrapped.refused_member.report_date|date:"Y-m-d" }}</span>
	           {% endif %}
	       </a>
	     </li>
	
	     <li class="dropdown-item {% if not may_add %}disabled{% endif %}">
	       <a class="dropdown-item"
	           href="{% if not may_add %}#{% else %}{{ wrapped.deceased_member.href }}{% endif %}">
	           {% if wrapped.deceased_member %}
	               <i class="fa fa-pencil fa-fw"></i>{% else %}<i class="fa fa-plus fa-fw"></i>
	           {% endif %}&nbsp;
	           Deceased
	           {% if wrapped.deceased_member %}
	               <span class="text text-muted">{{ wrapped.deceased_member.report_date|date:"Y-m-d" }}</span>
	           {% endif %}
	       </a>
	     </li>
	     {% endif %}
     {% endwith %}

  </ul>
</div> 
<!-- begin screening options -->