{% extends 'enumeration/dashboard/base.html' %}



{% block alert %}

      {% if alert_danger %}
			<div class="alert alert-danger fade in">
			  <i class="fa fa-hand-stop-o fa-lg"></i> {{ alert_danger }}
			</div>
      {% elif alert_success %}

            <div class="alert alert-success alert-dismissable fade in" id="success-alert">
              <i class="fa fa-hand-stop-o fa-lg"></i> {{ alert_success }}
            </div>

      {% endif %}

{% endblock alert %}


{% block dashboard_topbar %}           

    {% include 'enumeration/dashboard/topbar.html' %}

{% endblock dashboard_topbar %}           


{% block household_forms %}           

    {% include 'enumeration/dashboard/household_forms.html' %}

{% endblock household_forms %}           


{% block log_entry_history %}           

    {% include 'enumeration/dashboard/log_entries.html' %}

{% endblock log_entry_history %}           


{% block statistics %}           

    {% include 'enumeration/dashboard/statistics.html' %}
    
{% endblock statistics %}           


{% block members_panel_header %}

  {% include 'enumeration/dashboard/members_panel_heading.html' %}

{% endblock members_panel_header %}


{% block member_rows %}           

    {% include 'enumeration/dashboard/members/member_rows.html' %}

{% endblock member_rows %}           


{% block enumeration %}
	<!-- start survey_schedules -->
	
	<div class="list-group">
	      
        {% for obj in survey_schedules reversed %}
            {% if obj == survey_schedule_object %}
	                <a href="#" class="list-group-item">
    	                <i class="fa fa-sitemap fa-fw"></i> 
	                   {{ obj.name }} <i class="fa fa-check fa-fw"></i>
	                </a>
            {% else %}
                   <a class="list-group-item {% if obj not in survey_schedules_enumerated %}disabled{% endif %}"
                    href="{% if obj not in survey_schedules_enumerated and obj != survey_schedule_object.next %}#{% endif %}{% url enumeration_dashboard_url_name household_identifier=household_identifier survey_schedule=obj.field_value %}">
                    <span class="text text-muted">
                    <i class="fa fa-sitemap fa-fw"></i> 
                    {{ obj.name }}
                    {% if obj not in survey_schedules_enumerated and obj != survey_schedule_object.next %}
                        <i class="fa fa-ban fa-fw"></i>
                    {% endif %}
                    </span>
                   </a>
            {% endif %}
        {% endfor %}
	</div>
	
	<!-- end survey_schedules -->
{% endblock enumeration %}


{% block modals %}

{{ block.super }}
{% include 'enumeration/dashboard/import_members_modal.html' %}
{% endblock %}