{% extends base_html %}
{% load staticfiles %}

{% block extra-styles %}
{{ block.super }}
  .panel-extended {
    min-height: 200px;
    overflow-y: scroll;
  }
{% endblock %}
{% block extra-scripts %}
{{ block.super }}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock extra-scripts %} 

{% block main %}
<div class="container">
    <div class="col-md-12">
    <div class="panel-group">
      <div class="panel panel-info">
        <div class="panel-heading clearfix">
          <i class="fa fa-sitemap fa-lg"></i> 
            &nbsp;&nbsp;<span class="text text-muted small" style="font-size:14px;">{{ household_identifier }}  &rsaquo; {{ survey_schedule.breadcrumbs|join:" &rsaquo; " }}</span>
          <span class="pull-right">
            <a title="close" role="button" class="btn btn-primary btn-sm"
                href="{% url enumeration_listboard_url_name household_identifier=household_identifier survey_schedule=survey_schedule.field_value %}">
                    <i class="fa fa-reply" aria-hidden="true"></i> Close
            </a></span>
        </div>
      </div>
    </div>
    </div>

    <div class="panel-group">
      <div class="col-md-9">
        <div class="panel panel-info">

          <div class="panel-heading clearfix">
            {% include 'enumeration/dashboard/members_panel_heading.html' %}
          </div><!--end panel heading-->

          <div class="panel-body">
            {% include 'enumeration/dashboard/members.html' %}
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel-group">
          <div class="panel panel-default">
            {% include 'enumeration/dashboard/log_entries.html' %}
          </div>
  
          <div class="panel panel-warning">
              <div class="panel-heading">Stats</div>
              {% include 'enumeration/dashboard/statistics.html' %}
          </div>
        </div>
      </div>

  </div>
</div>

{% endblock main %}
