{% load tz %}
{% load staticfiles %}
{% load crispy_forms_tags %}

   <div class="container">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading clearfix"><i class="fa fa-sitemap fa-lg"></i>
            <span class="text small">
              {% if household_identifier %}
                &nbsp;&nbsp;<span class="text text-muted" style="font-size:14px;">{{ household_identifier }}</span>
                {% if survey %} <span class="text text-muted" style="font-size:14px;"> &rsaquo; {{ survey_breadcrumbs|join:" &rsaquo; " }}</span> {% endif %}
              {% endif %}
              {% include 'edc_search/search_form.html' %}</div>
            <div class="panel-body">
              <div class="table table-responsive">
                    <table class="table table-condensed table-hover small">
                      <thead>
	                      <th>#</th>
                        <th></th>
                        <th>Community</th>
                        <th>Survey</th>
                        <th>Modified</th>
                        <th>Host</th>
                    </thead>
                    <tbody>
                      {% for result in results %}
            						<tr> 
                  				<td>{{ forloop.counter }}</td>
                  				<td style="white-space: nowrap">
                            <a title="plot" role="button" class="btn btn-sm btn-default" href="{% url 'plot:list_url' plot_identifier=result.plot_identifier %}"><i class="fa fa-building-o fa-md"></i></a>
                            <a title="household" role="button" class="btn btn-sm btn-default" href="{% url 'household:list_url' result.household_identifier %}"><i class="fa fa-home fa-lg"></i> </a>

                            <a title="household logs" role="button" class="btn btn-sm btn-default" href="{% url 'household:household_admin:household_householdlogentry_changelist' %}?q={{ result.household_identifier }}"><i class="fa fa-files-o fa-lg"></i></a>

                            {% with history_objects=result.household_log_entries title="Household logs" add_button=survey current_history_object=result.household_log_entry %}
                              {% include 'edc_base/controls/history_button.html' %}
                            {% endwith %}

                            {% if survey %}
                  				    <a title="enumeration" role="button" class="btn btn-sm btn-default" href="{% url 'enumeration:list_url' household_identifier=result.household_identifier %}"><i class="fa fa-sitemap fa-sm" aria-hidden="true"></i></a>
                              <a title="enumeration dashboard" role="button" class="btn btn-sm btn-success" href="{% url 'enumeration:dashboard_url' household_identifier=result.household_identifier survey=result.survey %}"><i class="fa fa-sitemap fa-sm" aria-hidden="true"></i> Dasboard</a>
                            {% else %}
                              <a title="enumeration" role="button" class="btn btn-sm btn-success" href="{% url 'enumeration:list_url' household_identifier=result.household_identifier survey=result.survey %}"><i class="fa fa-sitemap fa-sm" aria-hidden="true"></i></a>
                              <a title="members" role="button" class="btn btn-sm btn-default{% if not result.members %} disabled{% endif %}" href="{% url 'member:list_url' plot_identifier=result.plot_identifier %}"><i class="fa fa-group fa-md"></i></a>
                            {% endif %}
                          </td>  
                          <td>{{ result.survey.short_name }}</td>
                          <td>{{ result.community_name|title }}</td>
                          <td>{{ result.modified|date:"Y-m-d H:i" }}</td>
                          <td>{{ result.hostname_created }}</td>
                  			</tr>
              			  {% endfor %}
                    </tbody>
                  </table>
                </div>
                  {% include 'edc_search/paginator.html' %}
              </div>
            </div>
          </div>
  </div>
