
<!-- start sidebar buttons -->

<div class="table-responsive small text-default">
    <table class="table table-condensed">

        <thead></thead>

        <tbody>

        <tr>
        {% with wrapped=current_household_log_entry %}

            {% include 'edc_dashboard/controls/change_button_as_column.html' %}

        {% endwith %}
        </tr>

        {% for wrapped in eligibility_wrapped_models %}
        <tr>

            {% include 'edc_dashboard/controls/change_button_as_column.html' %}

	    </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<!-- ends sidebar buttons -->
