
<!-- start sidebar buttons -->

<div class="table-responsive small text-default">
    <table class="table table-condensed">
        <thead></thead>
        <tbody>

        <tr>
        {% with log=current_household_log_entry%}
        <td class="{% if log %}success{% else %}warning{% endif %}">
          <a title="add log entry" role="button" class="btn btn-{% if log %}success{% else %}warning{% endif %} "
            href="{% if not log %}{% url 'household_admin:household_householdlogentry_add' %}{% else %}{% url 'household_admin:household_householdlogentry_change' log.id %}{% endif %}?household_log={{ household_log.id }}&next=enumeration:dashboard_url,household_identifier,survey_schedule&household_identifier={{ household_identifier }}&survey_schedule={{ survey_schedule_object.field_value }}">
            <i class="fa {% if not log %} fa-plus {% else %} fa-pencil {% endif %}  fa-sm"></i>
          </a>
        </td>
        <td class="{% if not log %}warning{% else %}success{% endif %}"><h6>Household Log</h6></td>
        {% endwith %}
        </tr>

        {% for obj in eligibility_buttons %}
        <tr>
        <td class="{% if obj.add %}warning{% else %}success{% endif %}">
		    <a role="button" title="{% if obj.add %}add{% else %}change{% endif %} {{ obj.verbose_name }}"
		        class="btn {% if obj.add %}btn-warning{% else %}btn-success{% endif %}"
		            href="{% if obj.add %}{% url obj.url_name %}{% else %}{% url obj.url_name obj.id %}{% endif %}?next=enumeration:dashboard_url,household_identifier,survey_schedule&household_structure={{ obj.household_structure.id }}&household_member={{ obj.household_member.id }}&survey_schedule={{ survey_schedule_object.field_value }}&household_identifier={{ household_identifier }}">
		            <i class="fa {% if obj.add %}fa-plus{% else %}fa-pencil{% endif %} fa-sm"></i>
		         
		    </a>
        </td>
        <td class="{% if obj.add %}warning{% else %}success{% endif %}"><h6>{{ obj.verbose_name }}</h6></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<!-- ends sidebar buttons -->
